In [1]:
# print a statement 
print("Hey!This is Vaibhav.")

Hey!This is Vaibhav.

In [9]:
#python variables-container for storing data values
#no need of declaration, type. decides after declaration
x=5
print(x)

y= "Ganesh"
print(y)

a=int(1)
b=float(1)
c=int(1)

print(a)
print(b)
print(c)

#illegal variables
#2myvar=5 should not start with number
#my var=9 should be single word
#my-var=10 should not be - within text

# assign multiple variables
w,e,r= "cricket", "tennis", "football"
print(w)
print(e)
print(r)

# single value to multiple variables
t=y=u=555
print(t)
print(y)
print(u)

# unpacking list
list1=["k","j","p"]
c,v,b=list1
print(c)
print(b)
print(v)

5
Ganesh
1
1.0
1
cricket
tennis
football
555
555
555
k
p
j

In [12]:
print("Datatypes in Python")
a= "a"
b=10
c=20.3
d=4+3j
e=['a','b','c','d']
f=('j','k','l','m','n')
g={1,3,96,9,8,}
h=dict(name="Vaibhav",Age= "28")
i=frozenset(('a','b','c','d'))
k=bool(5)
l=bytes(1)
m=bytearray(50)
o=memoryview(bytes(10))
p=35e3
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(k))
print(type(l))
print(type(m))
print(type(o))
print(type(p))

Datatypes in Python
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'float'>

In [13]:
print("Data_casting")


var=100
L=[10,20,30,40,50]
var1=str(var)
var2=float(var)
var3=complex(var)
var4=bytes(var)
var5=bytearray(var)
var6=bool(var)
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))
print(L)
print(type(L))
T=tuple(L)
print(T)
print(type(T))

Data_casting
100
100.0
(100+0j)
b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
True
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bytes'>
<class 'bytearray'>
<class 'bool'>
[10, 20, 30, 40, 50]
<class 'list'>
(10, 20, 30, 40, 50)
<class 'tuple'>

In [23]:
#string

#printing letters from string
for x in "python":
    print(x)

#length of string
m="mathematics"
print(len(m))

#Check true or false using in and not in

print("t" in m)
print("j" in m)
print("j"not in m)

p
y
t
h
o
n
11
True
False
True

In [24]:
#string slicing
str2= "databasse"
print(type(str2))
print(str2[0]) #first character
print(str2[1])#Second letter
print(str2[2])#third letter
print(str2[-1])#last letter
print(str2[-2])#second last
print(str2[0:])#slicing using first letter
print(str2[0:5])#slicing first 5 leetes
print(str2[:-1])#slicing using last letter
print(str2[:])#whole letters

<class 'str'>
d
a
t
e
s
databasse
datab
databass
databasse

In [19]:
# modify string

# Uppercase
a= "Abraham Lincon"
print(a.upper())

#lowercase
print(a.lower())

#Strip remove white strip
print(a.strip())

#Split
print(a.split(','))

#replace
print(a.replace("A","K"))

ABRAHAM LINCON
abraham lincon
Abraham Lincon
['Abraham Lincon']
Kbraham Lincon

In [35]:
#string concatenation

a="John"
b="Cena"
c=a+b
print(c)

#adding space
print(a+" "+b)

JohnCena
John Cena

In [2]:
#format string
apple=8
egg=12
milk=3
Myreq= "I need {} apples, {} eggs and {} litres of milkbag in a week."
print(Myreq.format(apple,egg,milk))

I need 8 apples, 12 eggs and 3 litres of milkbag in a week.

In [18]:
# string escape character

#"" inside the ""
#txt= "we are so-called "vikings" from the north"
#print(txt)

txt1="we are so-called \"vikings\" from the north"
print(txt1)

# \' use
sent1= 'it\'s alright'
print(sent1)

#\\ use
sent2= "Hi! \\ World"
print(sent2)

#\n use newline
sent3="hello\nworld"
print(sent3)

#\t use tab
sent4="hello\tworld"
print(sent4)

#\b use backspace
sent5="hello\bworld"
print(sent5)

#\000 octal value
sent6=("\140\150\600\350\690")
print(sent6)

#\hhk hex value 
sent7=("\x48\x65\x6c\x6c\x6f")
print(sent7)

we are so-called "vikings" from the north
it's alright
Hi! \ World
hello
world
hello	world
helloworld
`hƀè90
Hello

In [10]:
#String Methods 

f="database"

#capitalize()- capitalize first letter
print(f.capitalize())

#casefold()-lower case 
print(f.casefold())

#center()-returns center string

print(f.center(20))
print(f.center(20,"0")) #0 padding

#count-string.count("value",start,end)
t="I like apples,apple is my favourite fruit"
print(t.count("apple"))
print(t.count("apple",10,24))

#rjus - justify 
txt="apple"
x=txt.rjust(5)
print(x,"is my favourite fruit.")

y=txt.rjus

Database
database
      database
000000database000000
2
1
apple is my favourite fruit.

In [25]:
#boolean
print(10>9)
print(10<9)
print(10==9)

x=15
y="roy"

print(bool(x))
print(bool(y))
bool()
bool("")
#print(bool(()))
#print(bool({}))
#print(bool([])
#bool(0)
#print(bool(None))
#bool(False)

True
False
False
True
True

False

In [27]:
#operators

#arithmatic operators
x=5
y=6

print(x+y)#additio
print(x-y)#subtraction
print(x*y)#multiplication
print(x/y)#Division
print(x**y)#exponentional
print(x//y)#floor division
print(x%y)#modulus

11
-1
30
0.8333333333333334
15625
0
5

In [55]:
#Assignment operator
x=5
x += 3
print(x)

x -=3
print(x)

x*=3
print(x)

x/=3
print(x)

x//=1
print(x)

x**=3
print(x)

x%=3
print(x)

8
5
15
5.0
5.0
125.0
2.0

In [57]:
#comparision operators

a=5
b=10
c=5

print(a>b)
print(a<b)
print(a==c)
print(a!=b)
print(a>=c)
print(a<=b)

False
True
True
True
True
True

In [65]:
#logical operators

x=50
y=100

print(x>60 and y>60)
print(x<60 and y<60)
print(x>60 or y>60)
print(x<60 and y>60)
print(not(x<60 and y>60)) #not reverse result

False
False
True
True
False

In [68]:
#membership operator
x=["apple", "banana"]
print("banana" in x)
print("apple" not in x)

True
False

In [101]:
#list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist)) #length of list
print(type(thislist)) #type of list
print(thislist[1]) #list access
print(thislist[-1]) #list access
print(thislist[1:4]) #list access

#access list
thislist[4]="blueberry"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

#insert item
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

# append list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

#remove and pop
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

#sort list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)


thislist.sort(reverse = True)
print(thislist)


thislist = ["banana", "Orange", "Kiwi", "cherry"] # case sensetive unexpected results
thislist.sort()
print(thislist)


thislist.sort(key=str.lower)
print(thislist)
print(thislist)

#copy list

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)


#join list

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3) 


#append using for loop
list4=[5,6,8,10]

for x in list4:
    list3.append(x)
print(list3)

# extend list
list5=[5,9,2,6,8]
list3.extend(list5)
print(list3)

#count
print(list3.count(2))

#clear
list3.clear()
print(list3)

['apple', 'banana', 'cherry', 'apple', 'cherry']
5
<class 'list'>
banana
cherry
['banana', 'cherry', 'apple']
['apple', 'banana', 'cherry', 'apple', 'blueberry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry']
['apple', 'cherry']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]
['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['banana', 'cherry', 'Kiwi', 'Orange']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 5, 6, 8, 10]
['a', 'b', 'c', 1, 2, 3, 5, 6, 8, 10, 5, 9, 2, 6, 8]
2
[]

In [102]:
#tuple operations

thistuple=("apple","Mango","banana","cherry","orange","Melon")
print(thistuple)
print(len(thistuple))

#access tuple
print(thistuple[1])
print(thistuple[-5:-2])


#update tuple add tuple to tuple
y=("kiwi",)
thistuple +=y
print(thistuple)

#update tuple using list
z=list(thistuple)
z.append("Coconut")
thistuple=tuple(z)
print(thistuple)

#remove using list
k=list(thistuple)
k.remove("Mango")
thistuple=tuple(k)
print(thistuple)

('apple', 'Mango', 'banana', 'cherry', 'orange', 'Melon')
6
Mango
('Mango', 'banana', 'cherry')
('apple', 'Mango', 'banana', 'cherry', 'orange', 'Melon', 'kiwi')
('apple', 'Mango', 'banana', 'cherry', 'orange', 'Melon', 'kiwi', 'Coconut')
('apple', 'banana', 'cherry', 'orange', 'Melon', 'kiwi', 'Coconut')

In [103]:
#unpack tuple

fruits=("apple","Mango","banana","cherry","orange","Melon")
(red,yellow,pyellow,pink,porange,green)=fruits
print(red)
print(yellow)
print(pyellow)
print(pink)
print(porange)
print(green)

#Using asterisk
tup1=("ask","bok","rop","drt")
(ag,nh,*mn)=tup1
print(ag)
print(nh)
print(mn)

#using *tropic variable
tup2=("dfg","rdf","lcm","jkl","png","ugd")
(ad,*tropic,mf)=tup2
print(ad)
print(tropic)
print(mf)

apple
Mango
banana
cherry
orange
Melon
ask
bok
['rop', 'drt']
dfg
['rdf', 'lcm', 'jkl', 'png']
ugd

In [104]:
#loops in tuple
fruits=("apple","Mango","banana","cherry","orange","Melon")
i=0
while i<len(fruits):
    print(fruits[i])
    i = i+1
    
tup1=("ask","bok","rop","drt")    
for x in tup1:
    print(x)
tup2=("dfg","rdf","lcm","jkl","png","ugd")    
for i in range(len(tup2)):
    print(tup2[i])

apple
Mango
banana
cherry
orange
Melon
ask
bok
rop
drt
dfg
rdf
lcm
jkl
png
ugd

In [118]:
#sets

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

myset = {"apple", "banana", "cherry"}
print(type(myset))

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset) 


#access the items

for x in thisset:
  print(x) 

#check True or False
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset) 

#add item to set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

# add method
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset) 

#remove item

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset) 

#discard method
thisset.discard("cherry")
print(thisset)

#pop method
thisset.pop()
print(thisset)


#loop in set
thisset={'cherry', 'apple', 'banana', 'mango', 'papaya', 'pineapple'}
for x in thisset:
  print(x)

{'cherry', 'apple', 'banana'}
<class 'set'>
{'cherry', 'apple', 'banana'}
cherry
apple
banana
True
{'cherry', 'apple', 'banana', 'mango', 'papaya', 'pineapple'}
{'orange', 'cherry', 'apple', 'banana'}
{'cherry', 'apple'}
{'apple'}
set()
cherry
apple
mango
papaya
pineapple
banana

In [1]:
d = {
    1: 'a',
    2: 'b',
    3: 'c'   
    }
print(d)
print(type(d))

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [15]:
dict1 = {
    'name' : 'Vaibhav',
    'mobile' : 9011061465,
    'address' : 'Pune',
    'job' : 'Engineer',
    'salary' : 40000}
print(dict1)
print(type(dict1))
print(dict1['name']) #access name
print(dict1['mobile'])
print(dict1['job'])
print(dict1.keys())
print(dict1.values())

{'name': 'Vaibhav', 'mobile': 9011061465, 'address': 'Pune', 'job': 'Engineer', 'salary': 40000}
<class 'dict'>
Vaibhav
9011061465
Engineer
dict_keys(['name', 'mobile', 'address', 'job', 'salary'])
dict_values(['Vaibhav', 9011061465, 'Pune', 'Engineer', 40000])

In [12]:
grandson = {
    'g_name':'Grand_son_name'
}
son = {
     's_key' : grandson,
    's_name': 'Son_name',
}


parent = {
    'p_key' : son,
    'p_name': 'Parent_name',
    
         }


family = {
    'f_key' : parent, 
}

print(family)
family

{'f_key': {'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}, 'p_name': 'Parent_name'}}

{'f_key': {'p_key': {'s_key': {'g_name': 'Grand_son_name'},
   's_name': 'Son_name'},
  'p_name': 'Parent_name'}}

In [13]:
# access child directory
family['f_key']['p_key']

{'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}

In [15]:
#conditional loop
# a>b
x = 10
y = 20
# find largest number

print(x > y)

if x > y:
    print("Larger element is:", x)
else:
    print("Larger element is: ",y)

False
Larger element is:  20

In [16]:
# a>b, a==b, a<b

x = 20
y = 30

if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

y is greater than x

In [17]:
# shaort hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print("y is greater number")

y is greater number

In [18]:
# short hand if else print("A") if a > b else print("B") 

x = 20
y = 10

print("x is greater") if x > y else print("y is greater")

x is greater

In [19]:
# nested if .. else

x = 150
if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Number is equal to 150

In [20]:
# pass staement

x = 10
y = 20

if y > x:
    pass

In [14]:
#while loop
x=0
while x<100:
    print(x)
    x +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [21]:
# break statement

x = 0
while x < 100:
    print(x)
    if x == 50:
        break
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [22]:
# Continue stmt


x = 0
while x < 100:
    
    if x == 50 or x == 99:
        x += 1
        
        continue
                
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [23]:
# else below while

x = 0
while x < 100:
    
    if x == 50:
        x += 1
        continue
                
    print(x)
    x += 1
else:
    print("There is no more statement to execute")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
There is no more statement to execute

In [25]:
 #while on list and tuple

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("while on List:-")

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on List:-
mango
cherry
papaya
bluberry
apple
banana

In [27]:
tup = ["mango","cherry","papaya","bluberry","apple","banana"]

print(tup)

print("while on Tuple:-")

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

In [28]:
# for loop on list

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("for on list:-")

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
for on list:-
mango
cherry
papaya
bluberry
apple
banana

In [30]:
# String

str1 = "Python is fantastic"

print(str1)

print("for on str1:-")

for x in str1:
    print(x)

Python is fantastic
for on str1:-
P
y
t
h
o
n

i
s

f
a
n
t
a
s
t
i
c

In [ ]:
# Tuple

tup = ("mango","cherry","papaya","bluberry","apple","banana")

print(tup)

print("for on Tuple:-")

for x in tup:
    print(x)

In [31]:
# Dict

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}

print(dict1)

print("for on dict printing keys:")
for x in dict1:
    print(x)
    
print("for on dict printing keys:")
for x in dict1.keys():
    print(x)
    
print("for on dict printing values:")
for x in dict1.values():
    print(x)

print("for on dict printing values:")
for x,y in dict1.items():
    print("(",x,",",y,")")

{'name': 'Nitn', 'mobile': 9975923975, 'address': 'sangola', 'job': 'Data', 'salary': 550000.2, 1: 10000}
for on dict printing keys:
name
mobile
address
job
salary
1
for on dict printing keys:
name
mobile
address
job
salary
1
for on dict printing values:
Nitn
9975923975
sangola
Data
550000.2
10000
for on dict printing values:
( name , Nitn )
( mobile , 9975923975 )
( address , sangola )
( job , Data )
( salary , 550000.2 )
( 1 , 10000 )

In [32]:
# set

set1 = {"mango","cherry","papaya","bluberry","apple","banana"}

print(set1)

print("for on set:-")

for x in set1:
    print(x)

{'apple', 'mango', 'cherry', 'banana', 'bluberry', 'papaya'}
for on set:-
apple
mango
cherry
banana
bluberry
papaya

In [34]:
#for i in range(10):

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
# range(1,10)- starting from 1, to 9, exclude 10

for i in range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [ ]:
# range(10,100,5)

for i in range(100,200,10):
    print(i)

In [36]:
# else in for

for i in range(100,200,10):
    print(i)
else:
    print("There is nothing to print in for now")

100
110
120
130
140
150
160
170
180
190
There is nothing to print in for now

In [1]:
import platform
platform.system()

'Linux'

In [2]:
import datetime
x=datetime.datetime.now()
print(x)
print(x.year)
print(x.month)
print(x.day)
print(x.strftime('%A'))
print(x.strftime('%a'))
print(x.strftime('%B'))
print(x.strftime('%b'))
print(x.strftime('%d')) #day of month
print(x.strftime('%w')) #
print(x.strftime('%m')) #

2021-11-17 17:31:00.262353
2021
11
17
Wednesday
Wed
November
Nov
17
3
11